*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNetflixContainer{
    border: 2px solid red;
    padding: 0rem 2rem;
    background-color: black; 
}

.navContainer{
    border: 2px solid green;
    height: 25vh;
} 

.upperNavBarSection{
    /* border: 2px solid blue; */
    display: flex;
    height: 50%;
}

.upperNavLeft{
    /* border: 2px solid green; */
    width: 50%;
}

.netflixLogo{
    width: 29%;
}

.upperNavRight{
    /* border: 2px solid red; */
    width: 50%;
}

.navBarButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid green; */
    height: 100%;
}

.languageButton{
    display: flex;
    padding: .5rem .8rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid;
    outline: none;
    color: white;
}

.signinButton{
    background-color: #fff;
    padding: .5rem .8rem;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-left: 10px;
}

.languageButton p{
    margin-left: 5px;
}

.lowerNavBarSection{
    border: 2px solid red;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.menulist{
    border: 2px solid green;
    width: 30%;
    list-style: none; /*removing the bullets */
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}